<div class="center hero-unit">
  <h1>GiftKart</h1>

  <h2>
    This page allows you to pick flowers in the GiftKart website.
  </h2>

  <%= link_to "Buy now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Flowers.jpg", alt: "Flowers"), 'http://rubyonrails.org/' %>

