<div class="center hero-unit">
  <h1>Welcome to GiftKart!</h1>

  <h2>
    Choose from a world of Flowers and Chocolates as gift!
  </h2>
  <%=  %>
  <%= link_to (image_tag "Flowers.jpg"), signup_path + "?item=Flowers" %>
  <%= link_to (image_tag "Chocolates.jpg"), signup_path + "?item=Chocolates" %>
</div>



